.jq-schedule * {
  box-sizing: border-box; }
.jq-schedule .sc_wrapper:after,
.jq-schedule .sc_menu:after {
  content: "";
  display: table;
  clear: both; }
.jq-schedule .sc_menu {
  width: 100%;
  height: 26px; }
  .jq-schedule .sc_menu .sc_header_cell {
    float: left; }
  .jq-schedule .sc_menu .sc_header {
    float: left;
    height: 26px;
    position: relative;
    overflow: hidden; }
    .jq-schedule .sc_menu .sc_header .sc_time {
      text-align: center;
      border-left: solid 1px #fff;
      background: #555; }
.jq-schedule .sc_menu .sc_header_cell,
.jq-schedule .sc_data {
  float: left;
  font-weight: bold;
  color: #fff;
  background: #555;
  position: relative; }
.jq-schedule .sc_menu .sc_header_scroll,
.jq-schedule .sc_data .sc_data_scroll {
  position: absolute;
  left: 0;
  top: 0; }
.jq-schedule .sc_menu .sc_header_cell,
.jq-schedule .sc_header .sc_time,
.jq-schedule .sc_main_scroll .sc_time {
  color: #fff;
  padding: 0;
  line-height: 26px;
  height: 26px;
  display: block; }
.jq-schedule .sc_header .sc_time,
.jq-schedule .sc_main_scroll .sc_time {
  float: left; }
.jq-schedule .sc_main_box,
.jq-schedule .sc_data {
  max-height: 500px;
  overflow: hidden; }
.jq-schedule .sc_main_box {
  float: left;
  overflow-x: auto;
  overflow-y: auto; }
.jq-schedule .sc_main {
  position: relative; }
.jq-schedule .timeline {
  position: relative; }
.jq-schedule .ui-draggable-dragging,
.jq-schedule .ui-resizeable {
  z-index: 20; }
.jq-schedule .sc_bar {
  position: absolute;
  color: #fff;
  background: #4f93d6;
  cursor: pointer;
  z-index: 10;
  overflow: hidden; }
  .jq-schedule .sc_bar .head {
    display: block;
    margin-top: 6px;
    padding: 0 8px 0;
    font-size: 12px;
    height: 1.2em;
    overflow: hidden; }
  .jq-schedule .sc_bar .text {
    display: block;
    margin-top: 6px;
    padding: 0 16px 0;
    font-weight: bold;
    height: 1.2em;
    overflow: hidden; }
  .jq-schedule .sc_bar .ui-resizable-handle {
    display: block;
    content: ' ';
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 10px;
    background: #2e7ac4; }
.jq-schedule .timeline,
.jq-schedule .sc_main .tb {
  border-bottom: solid 2px #666; }
.jq-schedule .sc_data .timeline {
  overflow: hidden;
  padding: 10px; }
  .jq-schedule .sc_data .timeline span {
    display: block; }
    .jq-schedule .sc_data .timeline span.timeline-subtitle {
      font-size: 0.8em;
      color: #cccccc; }
.jq-schedule .sc_main_scroll .sc_main .tl {
  float: left;
  height: 100%;
  border-right: solid 1px #ccc; }
  .jq-schedule .sc_main_scroll .sc_main .tl:hover {
    background: #f0f0f0; }
.jq-schedule .ui-state-disabled {
  opacity: 1; }
  .jq-schedule .ui-state-disabled .ui-resizable-handle {
    display: none; }
    .jq-schedule .ui-state-disabled .ui-resizable-handle:hover {
      cursor: auto; }
.jq-schedule .ui-draggable-disabled {
  opacity: 0.8; }

.schedule-modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  .schedule-modal-mask .schedule-modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(250, 250, 250, 0.5);
    opacity: 0;
    transition: opacity .5s linear; }
    .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container {
      width: 300px;
      max-height: 420px;
      margin: 0 auto;
      background-color: #ffffff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      border: 1px solid #666666;
      padding: 25px; }
      .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop label {
        display: block;
        margin-bottom: 10px;
        line-height: 30px; }
        .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop label:after {
          content: "";
          display: table;
          clear: both; }
        .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop label span {
          font-size: 13px;
          float: left;
          width: 50px; }
        .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop label input {
          height: 30px;
          padding: 0 10px;
          float: left;
          outline: none;
          width: calc(100% - 50px);
          border: 1px solid #c6c6c6; }
      .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop div.modal-btn {
        text-align: center;
        margin-top: 15px; }
        .schedule-modal-mask .schedule-modal-wrapper .schedule-modal-container .schedule-modal-pop div.modal-btn span {
          font-size: 13px;
          line-height: 35px;
          height: 35px;
          border-radius: 3px;
          vertical-align: middle;
          cursor: pointer;
          border: 1px solid #c6c6c6;
          padding: 0 10px;
          background-color: #ffffff;
          outline: none; }

/*# sourceMappingURL=style.css.map */
